.title
  .context
    = link_to 'TuningMVアプリ', root_path, class: 'context top-title'
  .area
    %ul.circles
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li