.container
  %section.pt-100
    .row
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/planet.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/landscape.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/nightroad.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/painting.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
  %section.pt-30.pb-60  
    .row
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/cutchelon.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/DJ.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/mood.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
      .col-sm-6.col-md-3
        .card.img-thumbnail
          %img.card-img{:alt => "画像", :src => "/images/mountain.jpg"}
          .card-body.px-2.py-3
            %h5.card-title タイトル
            %p.card-text コンテンツ コンテンツ コンテンツ コンテンツ
            %p.mb-0
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
              %a.btn.card-btn.btn-primary.btn-sm{:href => "#"} MORE
