/ buttonテスト
= link_to "Hover Me", "#", class: 'b-link button'

/ HOME HEADING SECTION
%section#home-heading.p-5
  .dark-overlay
    .row
      .col
        .container.p-5
          %h1 Are You Ready Get Started ?
          %p.d-none.d-md-block
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur fugit
            placeat similique voluptatibus! Asperiores corrupti nihil consequuntur perspiciatis laudantium.