/ Ecommerce 1
%section.pt-100.pb-100.bg-light.ecommerce_1
  .container.px-xl-0
    .row.justify-content-center.text-center.text-lg-left.main_info
      .col-lg-8
        %h2.mb-25{"data-aos" => "fade-down", "data-aos-delay" => "0", "data-aos-duration" => "600"} Online Market With The Biggest Product Choise
        .row{"data-aos" => "fade-down", "data-aos-delay" => "150", "data-aos-duration" => "600"}
          .col-xl-9.col-lg-10.color-heading.text-adaptive
            In our online store the biggest choise of products on the planet. Free
            delivery and a lot of benefit for you yet.
        %a.mt-60.btn.lg.action-1.px-xl-4{"data-aos" => "fade-down", "data-aos-delay" => "300", "data-aos-duration" => "600", :href => "#"} Get Discount for $99
      .mt-50.mt-lg-0.col-lg-4{"data-aos" => "fade-down", "data-aos-delay" => "450", "data-aos-duration" => "600"}
        %img.img-fluid.radius10{:alt => "", :src => "/images/i/ecommerce_1_img_1.jpg", :srcset => "/images/i/ecommerce_1_img_1@2x.jpg 2x"}/
    .mt-70.row.justify-content-center.products
      .mt-50.col-lg-4.col-md-7.col-sm-10.d-flex.align-items-start.product{"data-aos" => "fade-down", "data-aos-delay" => "0", "data-aos-duration" => "600"}
        %a.img_link{:href => "#"}
          %img.mw-120.flex-shrink-0.radius10{:alt => "", :src => "/images/i/ecommerce_1_product_1.jpg", :srcset => "/images/i/ecommerce_1_product_1@2x.jpg 2x"}/
        .ml-40.relative.pb-60.h-full.inner
          %a.link.color-main.f-14.text-uppercase.semibold.sp-20.title{:href => "#"} iPhone XR
          .mt-1.color-heading.text-adaptive
            Super Retina in two
            %br/
            sizes — including the
            %br/
            largest display ever on
            %br/
            the iPhone.
          %a.absolute.btn.sm.border-gray.color-main.medium.f-16{:href => "#"} $729
      .mt-50.col-lg-4.col-md-7.col-sm-10.d-flex.align-items-start.product{"data-aos" => "fade-down", "data-aos-delay" => "300", "data-aos-duration" => "600"}
        %a.img_link{:href => "#"}
          %img.mw-120.flex-shrink-0.radius10{:alt => "", :src => "/images/i/ecommerce_1_product_2.jpg", :srcset => "/images/i/ecommerce_1_product_2@2x.jpg 2x"}/
        .ml-40.relative.pb-60.h-full.inner
          %a.link.color-main.f-14.text-uppercase.semibold.sp-20.title{:href => "#"} Apple watch
          .mt-1.color-heading.text-adaptive
            Get the motivation
            %br/
            you need to achieve
            %br/
            your fitness goals.
          %a.absolute.btn.sm.border-gray.color-main.medium.f-16{:href => "#"} $399
      .mt-50.col-lg-4.col-md-7.col-sm-10.d-flex.align-items-start.product{"data-aos" => "fade-down", "data-aos-delay" => "600", "data-aos-duration" => "600"}
        %a.img_link{:href => "#"}
          %img.mw-120.flex-shrink-0.radius10{:alt => "", :src => "/images/i/ecommerce_1_product_3.jpg", :srcset => "/images/i/ecommerce_1_product_3@2x.jpg 2x"}/
        .ml-40.relative.pb-60.h-full.inner
          %a.link.color-main.f-14.text-uppercase.semibold.sp-20.title{:href => "#"} VR Headsets
          .mt-1.color-heading.text-adaptive
            A realistic
            %br/
            %span.text-nowrap three-dimensional
            %br/
            image or artificial
            %br/
            environment.
          %a.absolute.btn.sm.border-gray.color-main.medium.f-16{:href => "#"} $499
