///// Navigation Mobile type 2 /////

%a.open_menu.color-main.bg-light.radius_full
  %i.fas.fa-bars.lh-40
.navigation_mobile.bg-light.type2
  %a.close_menu.color-main
    %i.fas.fa-times
  .px-40.pt-60.pb-60.text-center.inner
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Home
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Popular
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Recent
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Featured
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Designers
    %div
      %a.f-heading.f-22.link.color-main.mb-20{:href => "#"} Team
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} Help
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} F.A.Q.
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} Support
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} About Us
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} Blog
    %div
      %a.f-12.link.color-main.op-7.text-uppercase.sp-20.mb-20{:href => "#"} Careers
    .socials.mt-60
      %a.link.color-main.f-18.mx-10{:href => "#", :target => "_blank"}
        %i.fab.fa-twitter
      %a.link.color-main.f-18.mx-10{:href => "#", :target => "_blank"}
        %i.fab.fa-facebook
      %a.link.color-main.f-18.mx-10{:href => "#", :target => "_blank"}
        %i.fab.fa-dribbble
      %a.link.color-main.f-18.mx-10{:href => "#", :target => "_blank"}
        %i.fab.fa-instagram
      %a.link.color-main.f-18.mx-10{:href => "#", :target => "_blank"}
        %i.fab.fa-behance
