.top-page
  .bg-mask
    // Boxanimationのsection
    -# = render 'boxarea'

    / HOME ICON SECTION
    /= render 'homeicon'
    
    / darkoverlay SECTION
    / = render 'darkoverlay'

    / ABOUT SECTION
    %section#about.py-3
      .container
        .row
          .col-md-8
            %h3 TuningMVアプリとは？
          
            %p.circle-image-first-context
              そのときの「気分」に合ったMV(ミュージックビデオ)をYoutubeから取得し、再生できるアプリです。
              %br 疲れた時には色鮮やかなMV、落ち着きたい時はしっとりしたMV・・など、あなたの生活にスパイスを！
          .col-md-4
            = image_tag '/images/jacket.jpg', alt: 'アルバムジャケット風',  class: 'circle-image'
        
        .row
          .col-md-4
            = image_tag '/images/park.jpg', alt: '公園', class: 'circle-image'
          .col-md-8
            %p.circle-image-title
              アプリの使い方(MVの再生)
            .circle-image-context
              %p
                %ul
                  %li「MVページ」に移動する
                  %li「気分セレクトボックス」をクリックすると、「気分」が表示されるので、そのときの気分を選択 !
                  %li するとYoutubeのプレイリストから、選択した「気分セレクトボックス」にマッチングしたMVが取得され、ページに表示される
                  %li MVを楽しもう!! Make fun!!
            
        .row
          .col-md-8
            %p.circle-image-title
              プレイリスト機能
            %p.circle-image-context
              MVページで取得した動画一覧を「プレイリスト」として保存して、「プレイリストページ」で閲覧できます。また作成したプレイリストに「いいね」をつけることもできるぞ！
          .col-md-4
            = image_tag '/images/skywindow.jpg', alt: '空', class: 'circle-image'

      / ICON BOXES
      %section#icon-boxes.p-5
        .container
          / 1行目
          .row.mb-4
            .col-md-4
              .card.bg-danger.text-white.text-center
                .card-body
                  %i.fas.fa-smile.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
            .col-md-4
              .card.bg-warning.text-white.text-center
                .card-body
                  %i.fas.fa-bullhorn.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
            .col-md-4
              .card.bg-info.text-white.text-center
                .card-body
                  %i.fas.fa-comments.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
          / 2行目
          .row.mb-4
            .col-md-4
              .card.bg-success.text-white.text-center
                .card-body
                  %i.fab.fa-apple.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
            .col-md-4
              .card.bg-secondary.text-white.text-center
                .card-body
                  %i.fab.fa-aviato.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
            .col-md-4
              .card.bg-dark.text-white.text-center
                .card-body
                  %i.fas.fa-coffee.fa-3x
                  %h4 Sample Heading
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
