.top-page
  .bg-mask
    / ICON BOXES
    %section#icon-boxes.p-5
      .container
        / 1行目
        .row.mb-4
          .col-md-4
            .card.bg-danger.text-white.text-center
              .card-body
                %i.fas.fa-smile.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
          .col-md-4
            .card.bg-warning.text-white.text-center
              .card-body
                %i.fas.fa-bullhorn.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
          .col-md-4
            .card.bg-info.text-white.text-center
              .card-body
                %i.fas.fa-comments.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
        / 2行目
        .row.mb-4
          .col-md-4
            .card.bg-success.text-white.text-center
              .card-body
                %i.fab.fa-apple.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
          .col-md-4
            .card.bg-secondary.text-white.text-center
              .card-body
                %i.fab.fa-aviato.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
          .col-md-4
            .card.bg-dark.text-white.text-center
              .card-body
                %i.fas.fa-coffee.fa-3x
                %h4 Sample Heading
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia.
