@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import "button";
@import "box_animation";

.top-page {
  background-image: url('/images/path.jpg');
  background-size: cover;
}

.bg-mask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.circle-image {
  border-radius: 50%;
  width:  350px;
  height: 350px;
}

@media screen and (max-width: 1000px) {
  .circle-image{display: none}
}

p.circle-image-context {
  margin-top: 50px;
}

